<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Recent Advances in Nonlinear PDEs</title>
    <link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
    <link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4GMYpl2f1Vt8ZSw2uH421ktOrYFZzLx3"></script>
</head>

<body>
    <header class="header">
        <div class="headerTopBar clearfix">
            <div class="wrap clearfix">
                <div class="aGroupLeft fl">
                    <a href="12.html">人才招聘</a>
                    <a href="#">公共服务</a>
                    <a href="#">通知公告</a>
                    <a href="#">新闻动态</a>
                    <a href="#">信息公开</a>
                    <a href="#">校长信箱</a>
                </div>
                <div class="aGroupRight fr">
                    <a href="#">常用系统</a>
                    <a href="#">图书馆</a>
                    <a href="#">校历</a>
                    <a href="#">学生</a>
                    <a href="#">校工</a>
                    <a href="#">书院</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>
        <div class="logo"></div>
        <div class="navigation">
            <div class="wrap clearfix">
                <ul class="menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="2.html">本系介绍</a>
                        <ul class="subMenu clearfix">
                            <li><a href="2.html">院系介绍</a></li>
                            <li><a href="3.html">人员构成</a><span>></span>
                                <ul class="thirdMenu">
                                    <li><a href="3.html">教学人员</a></li>
                                    <li><a href="#">访问学者</a></li>
                                    <li><a href="#">行政人员</a></li>
                                    <li><a href="#">毕业生</a></li>
                                    <li><a href="#">校友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="4.html">人才培养</a>
                        <ul class="subMenu">
                            <li><a href="4.html">本科生培养</a></li>
                            <li><a href="5.html">研究生培养</a></li>
                            <li><a href="6.html">资料下载</a></li>
                        </ul>
                    </li>
                    <li><a href="7.html">学术科研</a><ul class="subMenu">
                            <li><a href="7.html">研究方向</a></li>
                            <li><a href="14.html">重点实验室</a></li>
                            <li><a href="15.html">科研团队</a></li>
                        </ul></li>
                    <li class="active"><a href="8.html">新闻动态</a>
                        <ul class="subMenu">
                            <li><a href="8.html">新闻</a></li>
                            <li><a href="10.html">学术交流</a></li>
                        </ul>
                    </li>
                    <li><a href="12.html">人才招聘</a>
                        <ul class="subMenu">
                            <li><a href="12.html">老师</a></li>
                            <li><a href="#">员工</a></li>
                            <li><a href="#">博士后</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="wrap">
        <div class="content clearfix">
            <div class="conNavBar fl">
                <h3 class="title">新闻动态</h3>
                <ul class="navList">
                    <li><a href="8.html" >新闻</a></li>
                    <li><a href="10.html" class="active">学术交流</a></li>
                </ul>
            </div>
            <div class=" conCommon academicDetails details fr">
                <h3 class="title"><a href="8.html">学术交流</a> > Recent Advances in Nonlinear PDEs</h3>
                <div class="detailsTitle">
                    <h3>Recent Advances in Nonlinear PDEs</h3>
                    <time>2016-08-09 10:45:23</time>
                </div>
                <div class="detailsContent">
                    Objectives:<br/>
The aim of this workshop is to bring together researchers, and postgraduate students to present and discuss recent work on nonlinear partial differential equations (PDEs).  The workshop will provide an opportunity for senior undergraduate students and postgraduate students to become familiar with the current state of the art in this important area of mathematics.<br/>

The morning sessions of the workshop will be dedicated to invited and contributed talks, and the afternoons will be used for informal discussions and collaborations.<br/>

    ⁃   Before the workshop, Professor Fanghua Lin of the Courant Institute of NYU will give a mini-course from December 16 to 19, 2016. Professor Lin's talk will discuss basic elliptic PDEs to De Georgi-Nash-Moser and Krylov-Safanov theorems. This mini-course is accessible to senior undergraduate students who have taken a basic course in PDEs.<br/>

Invited Speakers:<br/>
 

Bo Guan                 Xiamen University / The Ohio State University Qing han                Peking University / University of Notre Dame
Bobo hua               Fudan University  
Dong Li                  Hong kong Universtiy of Science and                              Technology/University of British Columbia
Dongsheng Li         Xi'an Jiaotong University
Fanghua Lin           New York University
Tai-Chia Lin           National Taiwan University
Chun Liu                The Pennsylvania State University
Yuan Lou                Renmin University of China / The Ohio State University
Changyou Wang      Purdue University
Kelei Wang             Wuhan University
Xuefeng Wang        Southrn University of Science and Technology Juncheng Wei         University of British Columbia
Hao Wu                  Fudan University
Yong Yu                 The Chinese University of Hong Kong
Yu Yuan                 University of Washington / Xi'an Jiaotong University   Organizers:
Qing Han, Fanghua Lin, Linlin Su, Xuefeng Wang<br/>

Contact Information:<br/>
Linlin Su: sull@sustc.edu.cn, 86-755-88018679, 15012987207<br/>
Some Useful Information:
                <div class="map">
                <div style="width:700px;height:300px;border:#ccc solid 1px;font-size:12px" id="map"></div>            
                </div>
                <p>电话：0755-88010821                                                       传真：0755-88010822<br/>
邮箱：iese@sustc.edu.cn                                                    邮政编码：518055<br/>
学校地址：广东省深圳市南山区西丽学苑大道1088号，南方科技大学科研教学服务中心9层<br/>
<br/>
如何找到我们：<br/>
A 宝安机场出发，可乘坐红色出租车到达南方科技大学，距离约30km，车费约100元（含1元燃油附加费及7元过路过桥费）；<br/>
B 深圳北站出发，可乘坐红色出租车到达南方科技大学，距离约4km，车费约15元（含1元燃油附加费）；<br/>
C 或乘坐深圳地铁，在5号线（环中线）塘朗站D口出站。</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footContent">
            <div class="aGroup">
                <a href="2.html">院系介绍</a>
                <a href="10.html">学术交流</a>
                <a href="7.html">学术科研</a>
                <a href="8.html">新闻动态</a>
                <a href="12.html">人才招聘</a>
                <a href="13.html">联系我们</a>
            </div>
            <p>© 2015 All Rights Reserved. 粤ICP备14051456号<br/>地址：广东省深圳市南山区学苑大道1088号 电话：+86-755-8801 0000 邮编：518055</p>
        </div>
        <div class="footImg">
            <img src="_Public_/images/footImg.png" width="100" height="100">
        </div>
    </footer>
    <script src='_Public_/js/jquery-3.1.1.min.js'></script>
    <script src='_Public_/js/js.js'></script>
    <script type="text/javascript">
function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(114.005005,22.601378),15);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableDoubleClickZoom();
      map.setMinZoom(10);
       map.setMaxZoom(17);
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
    </script>
</body>

</html>
