<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>人才招聘-老师</title>
    <link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
    <link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
</head>

<body>
    <header class="header">
        <div class="headerTopBar clearfix">
            <div class="wrap clearfix">
                <div class="aGroupLeft fl">
                    <a href="12.html">人才招聘</a>
                    <a href="#">公共服务</a>
                    <a href="#">通知公告</a>
                    <a href="#">新闻动态</a>
                    <a href="#">信息公开</a>
                    <a href="#">校长信箱</a>
                </div>
                <div class="aGroupRight fr">
                    <a href="#">常用系统</a>
                    <a href="#">图书馆</a>
                    <a href="#">校历</a>
                    <a href="#">学生</a>
                    <a href="#">校工</a>
                    <a href="#">书院</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>
        <div class="logo"></div>
        <div class="navigation">
            <div class="wrap clearfix">
                <ul class="menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="2.html">本系介绍</a>
                        <ul class="subMenu clearfix">
                            <li><a href="2.html">院系介绍</a></li>
                            <li><a href="3.html">人员构成</a><span>></span>
                                <ul class="thirdMenu">
                                    <li><a href="3.html">教学人员</a></li>
                                    <li><a href="#">访问学者</a></li>
                                    <li><a href="#">行政人员</a></li>
                                    <li><a href="#">毕业生</a></li>
                                    <li><a href="#">校友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="4.html">人才培养</a>
                        <ul class="subMenu">
                            <li><a href="4.html">本科生培养</a></li>
                            <li><a href="5.html">研究生培养</a></li>
                            <li><a href="6.html">资料下载</a></li>
                        </ul>
                    </li>
                    <li><a href="7.html">学术科研</a>
                    <ul class="subMenu">
                            <li><a href="7.html">研究方向</a></li>
                            <li><a href="14.html">重点实验室</a></li>
                            <li><a href="15.html">科研团队</a></li>
                        </ul></li>
                    <li><a href="8.html">新闻动态</a>
                        <ul class="subMenu">
                            <li><a href="8.html">新闻</a></li>
                            <li><a href="10.html">学术交流</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="12.html">人才招聘</a>
                        <ul class="subMenu">
                            <li><a href="12.html">老师</a></li>
                            <li><a href="#">员工</a></li>
                            <li><a href="#">博士后</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="wrap">
        <div class="content clearfix">
            <div class="conNavBar fl">
                <h3 class="title">人才招聘</h3>
                <ul class="navList">
                    <li><a href="12.html" class="active">老师</a></li>
                    <li><a href="#">员工</a></li>
                    <li><a href="#">博士后</a></li>
                </ul>
            </div>
            <div class=" conCommon recruit details fr">
                <h3 class="title">人才招聘 > 老师</h3>
                <div class="detailsTitle">
                    <h3>Recent Advances in Nonlinear PDEs</h3>
                    <time>2016-08-09 10:45:23</time>
                </div>
                <div class="detailsContent">
                <p>Professor/Associate Professor/Assistant Professorship in Mathematics, Applied Mathematics, Statistics and Financial Mathematics Southern University of Science and Technology
The University

Established in 2012, the Southern University of Science and Technology (SUSTech) is a public institution funded by the municipal of Shenzhen, a special economic zone city in China. Shenzhen is a major city located in Southern China, situated immediately north of Hong Kong Special Administrative Region. As one of China's major gateways to the world, Shenzhen is the country's fast-growing city in the past two decades. The city is the high-tech and manufacturing hub of southern China, home to the world's third-busiest container port, and the fourth-busiest airport on the Chinese mainland. A picturesque coastal city, Shenzhen is also a popular tourist destination and was named one of the world's 31 must-see tourist destinations in 2010 by The New York Times. By the end of 2013, there were over 10 million permanent residents in the city.

The Southern University of Science and Technology is a pioneer in higher education reform in China. The mission of the University is to become a globally recognized institution which emphasizes academic excellence and promotes innovation, creativity and entrepreneurship. The teaching language at SUSTech is bilingual, either English or Putonghua.

Set on five hundred acres of wooded landscape in the picturesque Nanshan (South Mountain) area, the new campus offers an ideal environment suitable for learning and research. The new campus occupies more than 1,940,000 square meters, and the total construction area will be approximately 630,000 square meters.

Call for Application

The Southern University of Science and Technology now invites applications for the faculty position in Department of Mathematics which is currently under rapid construction. It is seeking to appoint a number of tenured or tenure track positions in all ranks. Candidates with research interests in all mainstream fields of Mathematics, Applied Mathematics and Statistics will be considered. These positions are full time posts. SUSTech adopts the tenure track system, which offers the recruited faculty members a clearly defined career path.

Candidates should have demonstrated excellence in research and a strong commitment to teaching. A doctoral degree is required at the time of appointment. Candidates for senior positions must have an established record of research, and a track-record in securing external funding as PI.

As a State-level innovative city, Shenzhen has chosen independent innovation as the dominant strategy for its development. It is home to some of China's most successful high-tech companies, such as Huawei and Tencent. As a result, SUSTech considers entrepreneurship is one of the main directions of the university, and good starting supports will be provided for possible initiatives. SUSTech encourages candidates with intention and experience on entrepreneurship to apply.

Terms & Applications

To apply, please send curriculum vitae, description of research interests and statement on teaching to mathhire@sustc.edu.cn or visit http://www.mathjobs.org.SUSTech offers competitive salaries, fringe benefits including medical insurance, retirement and housing subsidy, which are among the best in China. Salary and rank will commensurate with qualifications and experience. More information can be found at http://talent.sustc.edu.cn/en.

Candidates should also arrange for at least three letters of recommendation sending directly to the above email account. The search will continue until the position is filled.For informal discussion about the above posts, please contact Professor Jeff Zhihong Xia, Head of Department of Mathematics, by phone +86-755-88018770 or email: xiazh@sustc.edu.cn.</p>
                </div>
            </div>
        </div>
    </div>
   <footer class="footer">
        <div class="footContent">
            <div class="aGroup">
                <a href="2.html">院系介绍</a>
                <a href="10.html">学术交流</a>
                <a href="7.html">学术科研</a>
                <a href="8.html">新闻动态</a>
                <a href="12.html">人才招聘</a>
                <a href="13.html">联系我们</a>
            </div>
            <p>© 2015 All Rights Reserved. 粤ICP备14051456号<br/>地址：广东省深圳市南山区学苑大道1088号 电话：+86-755-8801 0000 邮编：518055</p>
        </div>
        <div class="footImg">
            <img src="_Public_/images/footImg.png" width="100" height="100">
        </div>
    </footer>
    <script src='_Public_/js/jquery-3.1.1.min.js'></script>
    <script src='_Public_/js/js.js'></script>
</body>

</html>
