<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学术科研-科研团队</title>
    <link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
    <link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
</head>

<body>
    <header class="header">
        <div class="headerTopBar clearfix">
            <div class="wrap clearfix">
                <div class="aGroupLeft fl">
                    <a href="12.html">人才招聘</a>
                    <a href="#">公共服务</a>
                    <a href="#">通知公告</a>
                    <a href="#">新闻动态</a>
                    <a href="#">信息公开</a>
                    <a href="#">校长信箱</a>
                </div>
                <div class="aGroupRight fr">
                    <a href="#">常用系统</a>
                    <a href="#">图书馆</a>
                    <a href="#">校历</a>
                    <a href="#">学生</a>
                    <a href="#">校工</a>
                    <a href="#">书院</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>
        <div class="logo"></div>
        <div class="navigation">
            <div class="wrap clearfix">
                <ul class="menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="2.html">本系介绍</a>
                        <ul class="subMenu clearfix">
                            <li><a href="2.html">院系介绍</a></li>
                            <li><a href="3.html">人员构成</a><span>></span>
                                <ul class="thirdMenu">
                                    <li><a href="3.html">教学人员</a></li>
                                    <li><a href="#">访问学者</a></li>
                                    <li><a href="#">行政人员</a></li>
                                    <li><a href="#">毕业生</a></li>
                                    <li><a href="#">校友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="4.html">人才培养</a>
                        <ul class="subMenu">
                            <li><a href="4.html">本科生培养</a></li>
                            <li><a href="5.html">研究生培养</a></li>
                            <li><a href="6.html">资料下载</a></li>
                        </ul>
                    </li>
                    <li  class="active"><a href="7.html">学术科研</a>
                     <ul class="subMenu">
                            <li><a href="7.html">研究方向</a></li>
                            <li><a href="14.html">重点实验室</a></li>
                            <li><a href="15.html">科研团队</a></li>
                        </ul></li>
                    <li><a href="8.html">新闻动态</a>
                        <ul class="subMenu">
                            <li><a href="8.html">新闻</a></li>
                            <li><a href="10.html">学术交流</a></li>
                        </ul>
                    </li>
                    <li><a href="12.html">人才招聘</a>
                        <ul class="subMenu">
                            <li><a href="12.html">老师</a></li>
                            <li><a href="#">员工</a></li>
                            <li><a href="#">博士后</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="wrap">
        <div class="content clearfix">
            <div class="conNavBar fl">
                <h3 class="title">学术科研</h3>
                <ul class="navList">
                    <li><a href="7.html">研究方向</a></li>
                    <li><a href="14.html" >重点实验室</a></li>
                    <li><a href="15.html"  class="active">科研团队</a></li>
                </ul>
            </div>
            <div class=" conCommon undergraduateFoster fr">
                <h3 class="title">科研团队</h3>
                数据正在更新中。

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footContent">
            <div class="aGroup">
                <a href="2.html">院系介绍</a>
                <a href="10.html">学术交流</a>
                <a href="7.html">学术科研</a>
                <a href="8.html">新闻动态</a>
                <a href="12.html">人才招聘</a>
                <a href="13.html">联系我们</a>
            </div>
            <p>© 2015 All Rights Reserved. 粤ICP备14051456号<br/>地址：广东省深圳市南山区学苑大道1088号 电话：+86-755-8801 0000 邮编：518055</p>
        </div>
        <div class="footImg">
            <img src="_Public_/images/footImg.png" width="100" height="100">
        </div>
    </footer>
    <script src='_Public_/js/jquery-3.1.1.min.js'></script>
    <script src='_Public_/js/js.js'></script>
</body>

</html>
