<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>人才培养-研究生培养</title>
    <link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
    <link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
</head>

<body>
   <header class="header">
        <div class="headerTopBar clearfix">
            <div class="wrap clearfix">
                <div class="aGroupLeft fl">
                    <a href="12.html">人才招聘</a>
                    <a href="#">公共服务</a>
                    <a href="#">通知公告</a>
                    <a href="#">新闻动态</a>
                    <a href="#">信息公开</a>
                    <a href="#">校长信箱</a>
                </div>
                <div class="aGroupRight fr">
                    <a href="#">常用系统</a>
                    <a href="#">图书馆</a>
                    <a href="#">校历</a>
                    <a href="#">学生</a>
                    <a href="#">校工</a>
                    <a href="#">书院</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>
        <div class="logo"></div>
        <div class="navigation">
            <div class="wrap clearfix">
                <ul class="menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="2.html">本系介绍</a>
                        <ul class="subMenu clearfix">
                            <li><a href="2.html">院系介绍</a></li>
                            <li><a href="3.html">人员构成</a><span>></span>
                                <ul class="thirdMenu">
                                    <li><a href="3.html">教学人员</a></li>
                                    <li><a href="#">访问学者</a></li>
                                    <li><a href="#">行政人员</a></li>
                                    <li><a href="#">毕业生</a></li>
                                    <li><a href="#">校友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="active"><a href="4.html">人才培养</a>
                        <ul class="subMenu">
                            <li><a href="4.html">本科生培养</a></li>
                            <li><a href="5.html">研究生培养</a></li>
                            <li><a href="6.html">资料下载</a></li>
                        </ul>
                    </li>
                    <li><a href="7.html">学术科研</a>
                    <ul class="subMenu">
                            <li><a href="7.html">研究方向</a></li>
                            <li><a href="14.html">重点实验室</a></li>
                            <li><a href="15.html">科研团队</a></li>
                        </ul></li>
                    <li><a href="8.html">新闻动态</a>
                        <ul class="subMenu">
                            <li><a href="8.html">新闻</a></li>
                            <li><a href="10.html">学术交流</a></li>
                        </ul>
                    </li>
                    <li><a href="12.html">人才招聘</a>
                        <ul class="subMenu">
                            <li><a href="12.html">老师</a></li>
                            <li><a href="#">员工</a></li>
                            <li><a href="#">博士后</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="wrap">
        <div class="content clearfix">
            <div class="conNavBar fl">
                <h3 class="title">人才培养</h3>
                <ul class="navList">
                    <li><a href="4.html">本科生培养</a></li>
                    <li><a href="5.html" class="active">研究生培养</a></li>
                    <li><a href="6.html">资料下载</a></li>
                </ul>
            </div>
            <div class=" conCommon postgraduateFoster fr">
                <h3 class="title">研究生培养</h3>
                <div class="posFosterTop">
                    <p>南方科技大学数学系于2015年6月正式成立，志在为学术界和社会培养出思想活跃，创新意识和能力强，科研品味高，脚踏实地，有朝气，有理想的数学人才。</p>
                    <p>&emsp;&emsp;数学系现有科研系列教师22人，其中有长江学者、杰青汤涛教授，千人学者、长江学者、杰青夏志宏教授，千人学者李才恒和王学锋教授，青年千人李景治副教授，等等。这些教师的科研国际领先，在很多领域做出了影响广泛、经典性的工作。数学系还将在近几年里高速发展，面向海内外招聘大量高质量人才，在现有的基础上不断充实师资。
                    </p>
                    <p>&emsp;&emsp;数学系教师的研究领域涉及基础数学（代数、动力系统、组合数学、偏微分方程、微分几何）、计算数学、应用数学、概率与统计学、金融数学、数学物理等。数学系实行研究生来校一年之内，自由选专业和导师的制度；课程和博士资格考试的设计灵活，既注重掌握基础知识的广博性，也照顾个体学生的科研兴趣。学校将为研究生提供充足的资助（博士生 10万/年，硕士生 5万/年）与学术交流（包括海外交流）机会。研究生将有机会做适量的教学助理（包括用英文讲习题课）的工作，有利于培养其教学能力和公众演讲能力。2016级硕士生宿舍为双人间，博士生为单人间。</p>
                    <p>&emsp;&emsp;目前我校采取与其它大学联合培养硕士和博士生的模式。这些大学包括：北京大学、哈尔滨工业大学、香港大学、香港科技大学、香港浸会大学、澳门大学、新加坡国立大学、美国天普大学等。与境外大学的联合培养的博士生有约两年的时间在境外学习，享受对方博士生同等待遇，由我系教授和对方教授共同指导，在毕业时发对方学校的学位证书。</p>
                    <p>&emsp;&emsp;请访问研究生招生网站：http://gs.sustc.edu.cn/。如需获取更多信息，请联系 maths.yzb@sustc.edu.cn。</p>
                </div>
                <div class="posFosterBottom">
                    <div class="tabRow tabHead">
                        <span class="name">姓名</span><span>科研方向</span>
                        <p>简介</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>曹敏</span><span>梳理统计</span>
                        <p>教授，1995年获加拿大西门菲莎大学统计博士学位，1996年受聘于加拿大维多利亚大学任助理教授，2001年升为副教授并获得终身教职，2006年升为正教授。他的主要研究方向是统计理论及统计应用；包括非参数统计理论，大样本理论和统计在社会学及气象研究领域的应用。已发表论文40余篇。</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>陈安岳</span><span>概率论</span>
                        <p>讲座教授，早年毕业于北京大学数学力学系。后师从中南大学侯振挺教授于1988年获得理学博士学位。当年底受聘于英国爱丁堡大学。先后在爱丁堡大学、诺丁汉大学、香港大学、格林威治大学历任研究员, 讲师,高级讲师,副教授,教授等职。于2007年受聘为英国利物浦大学讲座教授。五年后回国任教于南方科技大学。其科研主要集中于概率论，马氏过程及其应用领域。特别在马氏分枝过程及Q-过程构造论的研究方面颇有建树</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>何炳生</span><span>最优化理论与方法</span>
                        <p>教授。本科毕业后公派去联邦德国留学，取得博士学位后在南京大学数学系工作28年。江苏省有突出贡献的中青年专家，独立获得江苏省科技进步一等奖，并享受国务院特殊津贴。长期从事最优化理论和方法的研究，在凸优化和变分不等式的分裂收缩算法方面做出了有特色的工作，培养了一些在国内外有较大学术影响的研究生。发表的方法在机器学习、图像与视频处理等信息科学技术领域有广泛应用，最新成果获 2014 年中国运筹学会（一级学会）科学技术奖运筹研究奖</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>Jana Hertz</span><span>动力系统</span>
                        <p>教授，曾任教于乌拉圭国立大学，她与Ures教授一起以对动力系统中重要的“稳定遍历性猜想”做出了突破性的工作而闻名，开创了带有双曲性的微分同胚的遍历性质与拓扑性质之间关系的研究方向</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>蒋学军</span><span>金融统计</span>
                        <p>助理教授，2009年博士毕业于香港中文大学统计学系；2009年在香港中文大学统计学系从事博士后研究，2010年至2016年任中南财经政法大学统计与数学学院，讲师，副教授&amp;教研室主任，研究生导师。2013年进入南方科技大学，获得国家自然科学基金项目和广东省自然科学基金项目资助各一项，现任广东省金融教指委委员 。已发表SCI&amp;SSCI期刊论文20余篇。研究方向为金融统计，金融计量，分位数回归，模型选择及贝叶斯应用</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>Alexander Kurganov</span><span>计算数学</span>
                        <p>教授，硕士毕业于莫斯科大学，1997年博士毕业于以色列 Tel Aviv大学；入职前为美国Tulane大学正教授。 研究领域为偏微分方程的数值解。 他所发展的central-upwind 算法已经被广泛应用； 他在浅水波方程方面所做的工作解决了解的正性等所带来的困难。近期他也在趋化模型数值分析方面做了大量工作</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>李才恒</span><span>代数图论、组合数学</span>
                        <p>讲座教授，千人学者。曾经是西澳大利亚大学教授和北京大学讲席教授。他是置换群论和代数图论方向的国际学术带头人，做出了开创性的贡献。先后解决了多个世界著名的重要问题，包括100年老的关于置换群的Burnside问题。他创立的“群对偶作用方法”是分析对称图的一个关键方法；他对边传递图发展的整体分析理论为研究对称图塑造了新的研究方向；他引入并系统研究了的几类新的数学结构为组合数学开辟了一个新的研究领域</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>李景治</span><span>计算数学</span>
                        <p>副教授，2009年获得香港中文大学应用与计算数学哲学博士学位；2011年在瑞士联邦理工大学（苏黎世）数学系从事博士后研究，2012年加入南方科技大学。曾入选2012年2月第二批中组部“千人计划”（青年项目，数理学科）；2013年入选深圳市“孔雀计划”B类，获得国家自然科学基金青年项目和面上项目资助各一项。已发表SCI期刊论文40余篇，代表性论文发表在 CMP，JFA，IP，JDE和 SIAM 系列刊物上</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>李勤</span><span>数学物理、微分几何</span>
                        <p>助理教授，2011年获得美国加州大学伯克利分校博士学位。2011年在中国科技大学任特任副教授，2013年赴香港中文大学在梁迺聪教授指导下从事博士后研究。目前的主要研究方向为场论的Batalin-Vilkovisky量子化的数学理论及其在几何与拓扑中的应用</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>苏琳琳</span><span>偏微分方程</span>
                        <p>助理教授，2010年获 University of Minnesota 博士学位,专习偏微分方程，之后曾在美国伍斯特理工学院、奥地利维也纳⼤学⼯作。目前的研究方向为偏微分方程和生物数学</p>
                    </div>
                    <div class="tabRow">
                        <span class='name'>汤涛</span><span>计算数学</span>
                        <p>讲座教授，理学博士，长江学者讲座教授，美国工业与应用数学学会会士（SIAM Fellow）。1984年毕业于北京大学数学系，1989年获英国利兹大学应用数学博士学位；1990年至1998年执教于加拿大西门菲莎大学，取得终身教职；1998年加入香港浸会大学，2003年任数学讲座教授。2015年5月被聘为南方科技大学数学讲座教授。研究方向：偏微分方程数值解，高精度与自适应算法，计算流体力学</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="footContent">
            <div class="aGroup">
                <a href="2.html">院系介绍</a>
                <a href="10.html">学术交流</a>
                <a href="7.html">学术科研</a>
                <a href="8.html">新闻动态</a>
                <a href="12.html">人才招聘</a>
                <a href="13.html">联系我们</a>
            </div>
            <p>© 2015 All Rights Reserved. 粤ICP备14051456号<br/>地址：广东省深圳市南山区学苑大道1088号 电话：+86-755-8801 0000 邮编：518055</p>
        </div>
        <div class="footImg">
            <img src="_Public_/images/footImg.png" width="100" height="100">
        </div>
    </footer>
    <script src='_Public_/js/jquery-3.1.1.min.js'></script>
    <script src='_Public_/js/js.js'></script>
</body>

</html>
