<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>2016“深圳杯”数学建模挑战赛在我校开幕</title>
    <link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
    <link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
</head>

<body>
   <header class="header">
        <div class="headerTopBar clearfix">
            <div class="wrap clearfix">
                <div class="aGroupLeft fl">
                    <a href="12.html">人才招聘</a>
                    <a href="#">公共服务</a>
                    <a href="#">通知公告</a>
                    <a href="#">新闻动态</a>
                    <a href="#">信息公开</a>
                    <a href="#">校长信箱</a>
                </div>
                <div class="aGroupRight fr">
                    <a href="#">常用系统</a>
                    <a href="#">图书馆</a>
                    <a href="#">校历</a>
                    <a href="#">学生</a>
                    <a href="#">校工</a>
                    <a href="#">书院</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>
        <div class="logo"></div>
        <div class="navigation">
            <div class="wrap clearfix">
                <ul class="menu">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="2.html">本系介绍</a>
                        <ul class="subMenu clearfix">
                            <li><a href="2.html">院系介绍</a></li>
                            <li><a href="3.html">人员构成</a><span>></span>
                                <ul class="thirdMenu">
                                    <li><a href="3.html">教学人员</a></li>
                                    <li><a href="#">访问学者</a></li>
                                    <li><a href="#">行政人员</a></li>
                                    <li><a href="#">毕业生</a></li>
                                    <li><a href="#">校友</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="4.html">人才培养</a>
                        <ul class="subMenu">
                            <li><a href="4.html">本科生培养</a></li>
                            <li><a href="5.html">研究生培养</a></li>
                            <li><a href="6.html">资料下载</a></li>
                        </ul>
                    </li>
                    <li><a href="7.html">学术科研</a>
                    <ul class="subMenu">
                            <li><a href="7.html">研究方向</a></li>
                            <li><a href="14.html">重点实验室</a></li>
                            <li><a href="15.html">科研团队</a></li>
                        </ul></li>
                    <li  class="active"><a href="8.html">新闻动态</a>
                        <ul class="subMenu">
                            <li><a href="8.html">新闻</a></li>
                            <li><a href="10.html">学术交流</a></li>
                        </ul>
                    </li>
                    <li><a href="12.html">人才招聘</a>
                        <ul class="subMenu">
                            <li><a href="12.html">老师</a></li>
                            <li><a href="#">员工</a></li>
                            <li><a href="#">博士后</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div class="wrap">
        <div class="content clearfix">
            <div class="conNavBar fl">
                <h3 class="title">新闻动态</h3>
                <ul class="navList">
                    <li><a href="8.html" class="active">新闻</a></li>
                    <li><a href="10.html">学术交流</a></li>
                </ul>
            </div>
            <div class=" conCommon newDetails  details fr">
                <h3 class="title"><a href="8.html">新闻</a> > 2016“深圳杯”数学建模挑战赛在我校开幕</h3>
                <div class="detailsTitle">
                    <h3>2016年“深圳杯”数学建模挑战赛在我校开幕</h3>
                    <time>2016-08-09 10:45:23</time>
                </div>
                <div class="detailsContent">
                    <p> 8月17日上午，由全国大学生数学建模竞赛组委会、深圳市科学技术协会和南方科技大学共同举办的2016年“深圳杯”数学建模挑战赛在我校隆重开幕。来自清华大学、复旦大学、浙江大学等全国知名高校的240余名师生参加活动。</p>
                    <p>Recent Advances in Nonlinear PDEsRecent Advances in Nonlinear PDEsRecent Advanceances in NonlineaRecent Advances in Nonlinear PDEsRecent Advances in Nonlinear PDEsRecent Advanceances in NonlineaRecent Advances in Nonlinear PDEsRecent AdvannlineaRecent Advances in Nonlinear PDEsRecent Advances in Nonlinear PDEsRecent Advanceances in NonlineaRecent Advances in Nonlinear PDEsRec in NonlineaRecent Advances icent Advances in Nonlinear PDEsRec in Nonlin Nonlinear PDEsRecent Advances in Nonlinear PDEsRecent Advanceances in Nonlinea</p>
                    <img src="_Public_/images/1.png">
                    <span>开幕式现场</span>
                    <img src="_Public_/images/2.png">
                    <span>汤涛致辞</span>
                    <p>&emsp;&emsp;作为本届挑战赛主席之一的汤涛致在开幕式上致辞。他说，数学建模是数学与实际问题的桥梁。数学建模挑战赛命题贴近现实、贴近民生，并且与深圳经济社会发展息息相关，通过本次数学建模挑战赛，希望能让更多的同学和老师们领略到应用数学解决实际问题的乐趣，让学生们自主探究，不断碰撞出思维的火花。同时，挑战赛搭建了一个展示深圳科技魅力的舞台，让优秀的年轻人了解到深圳科技发展的热点和趋势，有利于增强吸引优秀人才到深圳创新创业，也为解决深圳发展中遇到的现实问题，促进深圳大数据产业发展，为深圳经济社会发展提供理论基础。</p>
                    <img src="_Public_/images/3.png">
                    <span>授旗仪式</span>
                    <p>&emsp;&emsp;开幕式上，蒋宇扬宣布挑战赛开幕并向汤涛授旗。</p>
                    <p>&emsp;&emsp;开幕仪式后，深圳碳云智能首席科学家、原华大股份首席科学家李英睿，为参赛者做了一场题为《数学建模在生命科学中的应用》的讲座；浙江大学求是特聘教授、浙江大学应用数学研究所所长孔德兴做了题为《精准医学中的数学建模：从活体肝移植谈起》的讲座。
                    </p>
                    <p>&emsp;&emsp;据悉，8月17日至21日，参赛选手们将用数学建模的方式探讨“禁摩限电”效果综合分析，“截排”VS“清源”，垃圾焚烧厂布袋式除尘系统运行稳定性分析，代谢综合征风险、趋势预测和干预模型的构建等4个命题。
                    </p>
                    <p>供稿：数学系</p>
                </div>
            </div>
        </div>
    </div>
   <footer class="footer">
        <div class="footContent">
            <div class="aGroup">
                <a href="2.html">院系介绍</a>
                <a href="10.html">学术交流</a>
                <a href="7.html">学术科研</a>
                <a href="8.html">新闻动态</a>
                <a href="12.html">人才招聘</a>
                <a href="13.html">联系我们</a>
            </div>
            <p>© 2015 All Rights Reserved. 粤ICP备14051456号<br/>地址：广东省深圳市南山区学苑大道1088号 电话：+86-755-8801 0000 邮编：518055</p>
        </div>
        <div class="footImg">
            <img src="_Public_/images/footImg.png" width="100" height="100">
        </div>
    </footer>
    <script src='_Public_/js/jquery-3.1.1.min.js'></script>
    <script src='_Public_/js/js.js'></script>
</body>

</html>
