<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>李莹课题组</title>
		<link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
		<link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
	</head>

	<body>
		<header class="header">
			<div class="headerTopBar clearfix">
				<div class="wrap clearfix">
					<div class="aGroupLeft fl">
						<a href="#">数据库登陆</a>
						<a href="#">仪器设备</a>
						<a href="#">常用网站</a>
						<a href="#">校历</a>
						<a href="#">Worktile</a>
					</div>
					<div class="aGroupRight fr">
						<a href="#">常用系统</a>
						<a href="#">公共服务</a>
						<a href="#">图书馆</a>
						<a href="#">学生</a>
						<a href="#">English</a>
					</div>
				</div>
			</div>
			<div class="logo"></div>
			<div class="navigation">
				<div class="wrap clearfix">
					<ul class="menu">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li>
							<a>科研</a>
						</li>
						<li>
							<a>教学</a>
						</li>
						<li>
							<a>组员</a>
						</li>
						<li>
							<a>招聘</a>
						</li>
						<li>
							<a>新闻</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!-- /header -->
		<div class="indexTop clearfix" style="margin-left: -15px;margin-right: -15px;margin-top: 0;">
				<div class="banner fl">
					<div class="bannerList">
						<a href="#"><img src="_Public_/images/1.png" title="岂止于大"></a>
						<a href="#"><img src="_Public_/images/logo.png" title="海纳百川"></a>
						<a href="#"><img src="_Public_/images/logo.png" title="有容乃大"></a>
						<a href="#"><img src="_Public_/images/logo.png" title="无欲则刚"></a>
					</div>
					<div class="bannerBtns">
						<span class="active" index='1'></span>
						<span index='2'></span>
						<span index='3'></span>
						<span index='4'></span>
					</div>
					<p class="bannerTitle">课题组网站开通</p>
					<a href="javascript:;" class="bannerPrev arrow">&lt;</a>
					<a href="javascript:;" class="bannerNext arrow">&gt;</a>
				</div>
			</div>
		<div class="wrap">
			
			<div class="indexBottom clearfix">
				<!-- 新闻列表 -->
				<div class="newsList fl">
					<div class="listTop clearfix">
						课题组动态
					</div>
					<div class="newsListRow clearfix">
						<div class="newImg fl">
							<a href="#"><img src="_Public_/images/logo.png" width="200" height="133"></a>
						</div>
						<div class="newContent fl">
							<h3><a href="#">庆祝十九大</a></h3>
							<time>2017-10-19    10:23:56</time>
							<p>伟大正确的中国共产党万岁......</p>
						</div>
						<a href="#">详情>></a>
					</div>

				</div>
				<!-- 学术交流 -->
				<div class="academic fr clearfix">
					<p class="academicTitle">合作交流</p>
					<div class="academicList">
						<div class="academicListRow clearfix">
							<div class="timeBox fl">
								<p class="boxTop">星期一</p>
								<p class="boxBottom">12-19</p>
							</div>
							<div class="academicContent fr">
								<a class="title" href="#">这个活动老帅了</a>
								<p><span>参与者:</span>陈一十</p>
								<p><span>时间:</span>10:00-10:30</p>
								<p><span>地点:</span>深圳市南方科技大学</p>
							</div>
						</div>
					</div>
					<a href="#">更多<i>>></i></a>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footContent">
				<div class="aGroup">
					<a>友情链接</a>
				</div>
				<p>© 2017 All Rights Reserved. Leo<br/>地址：广东省深圳市南山区学苑大道1088号</p>
			</div>
			<div class="footImg">
				<img src="_Public_/images/footImg.png" width="100" height="100">
			</div>
		</footer>
		<script src='_Public_/js/jquery-3.1.1.min.js'></script>
		<script src='_Public_/js/js.js'></script>
	</body>

</html>