<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<title>李莹课题组</title>
		<link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
		<link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
	</head>

	<body>
		<header class="header">
			<div class="headerTopBar clearfix">
				<div class="wrap clearfix">
					<div class="aGroupLeft fl">
						<a href="#">人才招聘</a>
						<a href="#">公共服务</a>
						<a href="#">通知公告</a>
						<a href="#">新闻动态</a>
						<a href="#">信息公开</a>
						<a href="#">校长信箱</a>
					</div>
					<div class="aGroupRight fr">
						<a href="#">常用系统</a>
						<a href="#">图书馆</a>
						<a href="#">校历</a>
						<a href="#">学生</a>
						<a href="#">校工</a>
						<a href="#">书院</a>
						<a href="#">English</a>
					</div>
				</div>
			</div>
			<div class="logo"></div>
			<div class="navigation">
				<div class="wrap clearfix">
					<ul class="menu">
						<li>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a>研究方向</a>
						</li>
						<li class="active">
							<a>科学研究</a>
						</li>
						<li>
							<a>教学课程</a>
						</li>
						<li>
							<a>小组成员</a>
						</li>
						<li>
							<a>English Version</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
    <!-- /header -->
    <div class="wrap">
        <div class="content clearfix">
            <div class="conNavBar fl">
                <h3 class="title">科学研究</h3>
                <ul class="navList">
                    <li><a href="#">Research Funding</a></li>
                    <li><a href="#">Participated Project</a></li>
                    <li><a href="#" class="active">Selected Journal Publication</a></li>
                </ul>
            </div>
            <div class=" conCommon academicDirections fr">
                <h3 class="title">Selected Journal Publication</h3>
                <div class="directionsList">
                    <div class="directionsListRow">
                        <p class="title">Lu X., C. Lin , Y. Li, T. Yao, Jimmy C.H. Fung, Alexis K.H. Lau (2017), Assessment of health burden caused by particulate matter in southern China using high-resolution satellite observation, Environment International, In Press. (Impact Factor: 5.929).</p>
                    </div>
                     <div class="directionsListRow">
                        <p class="title">Wang N., X.P. Lyu, X.J. Deng, H. Guo, T. Deng, Y. Li , C.Q. Yin, F. Li, S.Q. Wang (2016)，Assessment of regional air quality resulting from emission control in the Pearl River Delta region, southern China. Science of the Total Environment, In Press. (Impact Factor: 3.976).</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Liu H., C. Liu, Z. Xie, Y. Li, X. Huang, S. Wang, J. Xu, and P. Xie (2016), A paradox for air pollution controlling in China revealed by “APEC Blue” and “Parade Blue”. Scientific Report. 2016; 6: 34408. doi: 10.1038/srep34408. (Impact Factor: 5.228).</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Lin, C, Y. Li*, A. K. H. Lau, X. Deng, Tim K.T. Tse, J. C. H. Fung., C. Li, Z. Li, X. Lu,X. Zhang and Q. Yu (2016), Estimation of Long-Term Population Exposure to PM2.5 for Dense Urban Areas using 1-km MODIS Data,Remote Sensing of Environment, 179,13-22. (Impact Factor: 6.393)</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Lu, X, T. Yao, Y. Li*, J. C. H. Fung and A. K. H. Lau (2016), Source apportionment and health effect of NOx over the Pearl River Delta region in southern China, Environmental Pollution, 212, 135-146. (Impact Factor: 4.143)</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, Y., C. Lin, A. K. H. Lau, C. Liao, Y. Zhang, W. Zeng, C. Li, J. C. H. Fung, and T. K. T. Tse (2015), Assessing Long-Term Trend of Particulate Matter Pollution in the Pearl River Delta Region Using Satellite Remote Sensing, Environmental Science & Technology, 49(19), 11670–11678.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Lin, C., Y. Li*, Z. Yuan, A. K. H. Lau, C. Li, and J. C. H. Fung (2015), Using satellite remote sensing data to estimate the high-resolution distribution of ground-level PM2.5, Remote Sensing of Environment, 156, 117–128. </p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Karimian, H., Q. Li, C. Li, L. Jin, J. Fan, and Y. Li (2015), An Improved Method for Monitoring Fine Particulate Matter Mass Concentrations via Satellite Remote Sensing, Aerosol and Air Quality Research, doi:10.4209/aaqr.2015.06.0424.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, Z., Z. Yuan, Y. Li, A. K. H. Lau, and P. K. K. Louie (2015), Characterization and source apportionment of health risks from ambient PM10 in Hong Kong over 2000–2011, Atmospheric Environment, 122, 892–899.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, Y., A. Lau, A. Wong, and J. Fung (2014), Decomposition of the wind and nonwind effects on observed year-to-year air quality variation, J. Geophys. Res. Atmos., 119(10), 2013JD021300.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Yu, X., Z. Yuan, J. C. H. Fung, J. Xue, Y. Li, J. Zheng, and A. K. H. Lau (2014), Ozone changes in response to the heavy-duty diesel truck control in the Pearl River Delta, Atmospheric Environment, 88, 269–274.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, Y., A. K. H. Lau, J. C. H. Fung, J. Zheng, and S. Liu (2013), Importance of NOx control for peak ozone reduction in the Pearl River Delta region, J. Geophys. Res. Atmos., 118(16), 9428–9443.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, Y., A. K. H. Lau, J. C. H. Fung, H. Ma, and Y. Tse (2013), Systematic evaluation of ozone control policies using an Ozone Source Apportionment method, Atmospheric Environment, 76, 136–146.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Yang, D., C. Li, A. K.-H. Lau, and Y. Li (2013), Long-term measurement of daytime atmospheric mixing layer height over Hong Kong, J. Geophys. Res. Atmos., 118(5), 2422–2433.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Ng, S. K. W., C. Loh, C. Lin, V. Booth, J. W. M. Chan, A. C. K. Yip, Y. Li, and A. K. H. Lau (2013), Policy change driven by an AIS-assisted marine emission inventory in Hong Kong and the Pearl River Delta, Atmospheric Environment, 76, 102–112.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, C. C., X. He, Z. Z. Deng, A. K.-H. LAU, and Y. Li (2013), Dependence of mixed aerosol light scattering extinction on relative humidity in Beijing and Hong Kong, Atmos. Oceanic Sci. Lett., 6, 117–121.</p>
                    </div>
                    <div class="directionsListRow">
                        <p class="title">Li, Y., A. K.-H. Lau, J. C.-H. Fung, J. Y. Zheng, L. J. Zhong, and P. K. K. Louie (2012), Ozone source apportionment (OSAT) to differentiate local regional and super-regional source contributions in the Pearl River Delta region, China, J. Geophys. Res., 117(D15), D15305.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="footContent">
				<div class="aGroup">
					<a>友情链接</a>
				</div>
				<p>© 2017 All Rights Reserved. Leo<br/>地址：广东省深圳市南山区学苑大道1088号</p>
			</div>
        <div class="footImg">
            <img src="_Public_/images/footImg.png" width="100" height="100">
        </div>
    </footer>
    <script src='_Public_/js/jquery-3.1.1.min.js'></script>
    <script src='_Public_/js/js.js'></script>
</body>

</html>
