<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>李莹课题组</title>
		<script type='text/javascript' src='unitegallery/js/jquery-11.0.min.js'></script>	
	<script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script>	

	<link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' />
	
	<script type='text/javascript' src='unitegallery/themes/grid/ug-theme-grid.js'></script>
	
		<link rel="stylesheet" type="text/css" href="_Public_/css/reset.css">
		<link rel="stylesheet" type="text/css" href="_Public_/css/style.css">
		<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="css/baguetteBox.min.css">
	<link rel="stylesheet" href="css/gallery-clean.css">
	</head>

	<body>
		<header class="header">
			<div class="headerTopBar clearfix">
				<div class="wrap clearfix">
					<div class="aGroupLeft fl">
						<a href="#">数据库登陆</a>
						<a href="#">仪器设备</a>
						<a href="#">常用网站</a>
						<a href="#">校历</a>
						<a href="#">Worktile</a>
					</div>
					<div class="aGroupRight fr">
						<a href="#">常用系统</a>
						<a href="#">公共服务</a>
						<a href="#">图书馆</a>
						<a href="#">学生</a>
						<a href="#">English</a>
					</div>
				</div>
			</div>
			<div class="logo"></div>
			<div class="navigation">
				<div class="wrap clearfix">
					<ul class="menu">
						<li class="active">
							<a href="index.html">首页</a>
						</li>
						<li>
							<a>科研</a>
						</li>
						<li>
							<a>教学</a>
						</li>
						<li>
							<a>组员</a>
						</li>
						<li>
							<a>招聘</a>
						</li>
						<li>
							<a>新闻</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!-- /header -->
		<div class="indexTop clearfix" style="margin-left:0px;margin-right: 0px;margin-top: 0;">
			<div class="banner fl">
				<div class="bannerList">
					<a href="#"><img src="_Public_/images/1.png" title="岂止于大"></a>
					<a href="#"><img src="_Public_/images/logo.png" title="海纳百川"></a>
					<a href="#"><img src="_Public_/images/logo.png" title="有容乃大"></a>
					<a href="#"><img src="_Public_/images/logo.png" title="无欲则刚"></a>
				</div>
				<div class="bannerBtns">
					<span index='1'></span>
					<span index='2'></span>
					<span index='3'></span>
					<span index='4'></span>
				</div>
				
				<p class="bannerTitle" style="padding-left: 50px;">课题组网站开通</p>
				<a href="javascript:;" class="bannerPrev arrow">&lt;</a>
				<a href="javascript:;" class="bannerNext arrow">&gt;</a>
			</div>
		</div>
		
				<div class="container gallery-container">
		    <div class="tz-gallery">

		        <div class="row">

		            <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a class="lightbox" href="unitegallery/images/2.png">
		                        <img src="unitegallery/images/2.png" alt="Park">
		                    </a>
		                    <div class="caption">
		                        <h3>天气图</h3>
		                        <p>2017/10/28</p>
		                    </div>
		                </div>
		            </div>
		            
		             <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a class="lightbox" href="unitegallery/images/3.jpg">
		                        <img src="unitegallery/images/3.jpg" alt="Park">
		                    </a>
		                    <div class="caption">
		                        <h3>雷达图</h3>
		                        <p>雷达图</p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a class="lightbox" href="unitegallery/images/2.png">
		                        <img src="unitegallery/images/2.png" alt="Park">
		                    </a>
		                    <div class="caption">
		                        <h3>天气图</h3>
		                        <p>2017/10/28</p>
		                    </div>
		                </div>
		            </div>
		            
		             <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a class="lightbox" href="unitegallery/images/3.jpg">
		                        <img src="unitegallery/images/3.jpg" alt="Park">
		                    </a>
		                    <div class="caption">
		                        <h3>雷达图</h3>
		                        <p>雷达图</p>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a class="lightbox" href="unitegallery/images/2.png">
		                        <img src="unitegallery/images/2.png" alt="Park">
		                    </a>
		                    <div class="caption">
		                        <h3>天气图</h3>
		                        <p>2017/10/28</p>
		                    </div>
		                </div>
		            </div>
		            
		             <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a class="lightbox" href="unitegallery/images/3.jpg">
		                        <img src="unitegallery/images/3.jpg" alt="Park">
		                    </a>
		                    <div class="caption">
		                        <h3>雷达图</h3>
		                        <p>雷达图</p>
		                    </div>
		                </div>
		            </div>
		            
		            
		             
		            
		        </div>

		    </div>
		</div>
	<script type="text/javascript" src="js/baguetteBox.min.js"></script>
	<script type="text/javascript">
		baguetteBox.run('.tz-gallery');
	</script><div role="dialog" id="baguetteBox-overlay"><div id="baguetteBox-slider"></div><button type="button" id="previous-button" aria-label="Previous" class="baguetteBox-button"><svg width="44" height="60"><polyline points="30 10 10 30 30 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button><button type="button" id="next-button" aria-label="Next" class="baguetteBox-button"><svg width="44" height="60"><polyline points="14 10 34 30 14 50" stroke="rgba(255,255,255,0.5)" stroke-width="4" stroke-linecap="butt" fill="none" stroke-linejoin="round"></polyline></svg></button><button type="button" id="close-button" aria-label="Close" class="baguetteBox-button"><svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg></button></div>


		<footer class="footer">
			<div class="footContent">
				<div class="aGroup">
					<a>友情链接</a>
				</div>
				<p>© 2017 All Rights Reserved. Leo<br/>地址：广东省深圳市南山区学苑大道1088号</p>
			</div>
			<div class="footImg">
				<img src="_Public_/images/footImg.png" width="100" height="100">
			</div>
		</footer>
		<script src='_Public_/js/js.js'></script>
		<script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script>
		<script type='text/javascript' src='unitegallery/themes/grid/ug-theme-grid.js'></script>
	</body>
	<script type="text/javascript">

		jQuery(document).ready(function(){

			jQuery("#gallery").unitegallery();
		});
		var length=0;
		$("img").each(function(){
			if(this.hasAttribute("title")) $(this).css("min-width",$(document).width()+"px");
		})
//		$(":img.bannerList").each(function(){
//			$(this).css("min-width",$(document).width()+"px");
//			//$(this).css("width","");
//		});
	</script>
</html>